/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  font-family: "Lato";
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  padding: 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

.centered {
  text-align: center;
}

.centered-image {
  margin: auto;
}

/*code {
  font-size: 80%;
}*/

.google-plus-link :hover {
	color: #dc4a38;
}

.github-link :hover {
	color: #1a1a1a;
}

.twitter-link :hover {
	color: #41ABE1;
}

.facebook-link :hover {
	color: #3B5998;
}

.bitbucket-link :hover {
	color: #013366;
}

.xing-link :hover {
	color: #d4d600;
}

.social-media a {
	color: #666666;
}

.mail-link :hover {
	color: #cccccc;
}

.blog-link :hover {
	color: #ffa500;
}

.gitlab-link :hover {
  color: #e24329;
}

.linkedin-link :hover {
  color: #0487cf;
}

h1, h2, h3 {
  font-family: "Signika"
}

h4 {
  color: #95a5a6;
}

.tag-label {
  margin-right: 5px;
}

.tag-label > a {
  color: white;
}

span.front-callout a {
  color: #757575;
}

span.front-callout a:hover {
  color: #424242;
}

h4.front-callout {
    color: #757575;
}

.sponsors {
  padding: 15px;
}